// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#37414b;
$menuActiveText:#409EFF;
$subMenuActiveText:#5482ee; 

$menuBg:#fafafa;
$menuHover:#e1e1e1;

$subMenuBg:#fafafa;
$subMenuHover:#e1e1e1;

$sideBarWidth:280px;
$siderBarHideLeft:124px;

$subSiderWidth:220px;
$subSiderHideWidth:64px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
